/*  your css code here. If applicable */	
.player_one,.player_one{
background-color: white;
padding:
border-radius:		
}
h1,div,ul,li,a,h2,video,audio{
	length:1px;
}
h1,h2{
	text-align:center;
}
li{
	list-style-type: none
}
a{
	text-decoration-line: none
}
video{
	background-color: rgb(255, 255, 255);
	padding: border-radius;
}
audio{
	background-color: rgb(255, 255, 255); 
	padding: border-radius;
}
body{
	background-color: rgb(204, 204, 204);
}