/*  your css code here. If applicable */	

h1,div,ul,li,a,h2,video,audio{
	length:1px;
}
h1,h2{
	text-align:center;
}
li{
	list-style-type: none
	
}
a{
	text-decoration-line: none
	
}
video{
	background-color: rgb(255, 255, 255);
	padding: border-radius:1px;
}
audio{
	background-color: rgb(255, 255, 255); 
	padding: border-radius:1px;
}
body{
	background-color: rgb(204, 204, 204);
}